body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:radial-gradient(
    circle at center,
    navy,
    black
    );
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
div{
    height:11em;
    width:14em;
    font-size:30px;
    display:flex;
    justify-content: space-between;
}
div span{
    --h:50%;
    --c:red;
    height:var(--h);
    background:var(--c);
    width:1em;
    border-radius:0.5em;
    top:var(--t);
    position:relative;
    animation:animate 5s infinite;
}
div span:nth-child(1),
div span:nth-child(9){
    --c:orangered;
    --h:3em;
    --t:2.2em;
}
div span:nth-child(2),
div span:nth-child(8){
    --c:gold;
    --h:6em;
    --t:0.6em;
}
div span:nth-child(3),
div span:nth-child(7){
    --c:limegreen;
    --h:8em;
    --t:0em;
}
div span:nth-child(4),
div span:nth-child(6){
    --c:dodgerblue;
    --h:9em;
    --t:0.8em;
}
div span:nth-child(5){
    --c:mediumpurple;
    --h:9.4em;
    --t:1.6em;
}
@keyframes animate{
    0%,30%{
        height:var(--h);
        top:var(--t);
        background:var(--c);
        filter:blur(0);
        width:1em;
    }
    60%,70%{
        height:50%;
        top:25%;
        background:lightblue;
        filter:blur(0.3em);
        width:0.1em;
    }
}
