*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
    background:black;

}
.load{
    color:white;
    /*border:1px solid white;*/
    height:3em;
    width:40em;
    font-size: 30px;
    position:relative;
}
.load span{
    /*left:calc((var(--n) - 1) * 15%);*/
    height:3em;
    position:absolute;
    text-transform: uppercase;
    animation:
            changeColor 1s linear infinite,
            moving 2s linear infinite;
    animation-delay:calc((var(--n) - 10) * 0.2s)
}
@keyframes changeColor{
    0%{
        color:dodgerblue;
    }
    20%{
        color:gold;

    }
    40%{
        color:hotpink;

    }
    60%{
        color:lightgreen;

    }
    80%{
        color:mediumpurple;

    }
    100%{
        color:dodgerblue;

    }
}
@keyframes moving{
    0%{
        transform:rotate(-180deg);
        left:100%;
        filter: opacity(0);
    }
    33%{
        transform:rotate(0deg);
        filter: opacity(1);
    }
    66%{
        transform:rotate(0deg);
        filter: opacity(1);
    }
    100%{
        transform:rotate(180deg);
        left:0;
        filter: opacity(0);
    }
}
.load span:nth-child(1){
    --n:1;
}
.load span:nth-child(2){
    --n:2;
}
.load span:nth-child(3){
    --n:3;
}
.load span:nth-child(4){
    --n:4;
}
.load span:nth-child(5){
    --n:5;
}
.load span:nth-child(6){
    --n:6;
}
.load span:nth-child(7){
    --n:7;
}
