body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(20%,20%,20%,0.5)
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.box{
    font-size:60px;
    font-weight:bold;
    color:white;
    position:relative;
    text-align:center;
    height:150px;
    line-height:150px;
    width:50%;
}
.box::before,
.box::after{
    content:'';
    box-sizing:border-box ;
    position:absolute;
    border:0.2em solid;
    height:100%;
    width:100%;
    top:0;
    left:0;
    animation:animate 6s linear infinite alternate ;
    /* transform:rotate(45deg); */
}
.box::before{
    border-color:orangered orangered transparent transparent;
    z-index:-2;
    box-shadow:0.3em 0.3em 0.3em rgba(20%,20% ,20%,0.8);
}
.box::after{
    border-color: transparent transparent orangered orangered;
    z-index:1;
}
@keyframes animate{
    to{
        transform:rotate(360deg);
    }
}