*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background:black;
    display: flex;
    justify-content: center;
    align-items:center;
}
.eyes{
    /*border:1px solid blue;*/
    height:20em;
    width:40em;
    font-size: 14px;
    position: relative;
}
.eyes > *{
    position: absolute;
    width:18em;
    height:10em;
    border:solid white;
    border-width:0 5em;
    animation:blink 2s linear infinite;
}
.eyes > .left{
    left:0;
    border-radius:50% 0;
    transform:rotate(25deg);
}
.eyes > .right{
    right:0;
    border-radius:0 50%;
    transform:rotate(-25deg);
}
@keyframes blink{
    30%,70%{
        border-width:0 5em;
    }
    50%{
        border-width:0 9em;
    }
}