*{
    margin:0;
    padding:0;
}
*{
    box-sizing:border-box;
}
body{
    background: radial-gradient(circle at 60%,white, sandybrown);
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.signboard{
    width:400px;
    height:300px;
    position:relative;
    animation: shack 2s linear infinite alternate;
}
@keyframes shack{
    from{
        transform: rotate(-10deg) translateX(22px);
    }
    to{
        transform: rotate(10deg) translateX(-22px);
    }
}
.signboard::before{
    content:'';
    position:absolute;
    width:calc(100% + 1px);
    height:calc(100% + 1px);
    background-size:50px 50px;
    background-image:
            linear-gradient(gray 1px,transparent 0),
            linear-gradient(90deg,gray 1px,transparent 0);
}
.sign{
    width:400px;
    height:200px;
    position: absolute;
    top:100px;
    background: burlywood;
    border-radius:10px;
    color:saddlebrown;
    font-size:70px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-shadow:
            0 2px 0 white,
            2px 0 0 black;
}
.string{
    position: absolute;
    width:150px;
    height:150px;
    border:5px solid brown;
    border-right:none;
    border-bottom:none;
    transform:rotate(45deg);
    left:125px;
    top:50px;
}
.pin{
    position:absolute;
    width:20px;
    height:20px;

}
.top{
    background:gray;
    top:-12.5px;
    left:-12.5px;
    border-radius:50%;
}
.left{
    background:brown;
    top:138.5px;
    left:-12.5px;
    border-radius:50%;
}
.right{
    background:brown;
    left:138.5px;
    top:-12.5px;
    border-radius:50%;
}










