body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:black;
}
.box{
    height:10em;
    width:20em;
    background: black;
    position:relative;
    /*color:white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    animation: yyy 2s linear infinite alternate;
    text-align: center;
}
.box::before{
    content:'';
    position:absolute;
    width:calc(100% + 10%);
    height:calc(100% + 20%);
    background:linear-gradient(60deg,aquamarine, cornflowerblue, goldenrod, hotpink, salmon, lightgreen, sandybrown, violet);
    z-index:-1;
    border-radius:5px;
    background-size:300%;
    animation:xxx 5s linear infinite alternate;
}
@keyframes xxx{
    0%{
        background-position:0 center;
    }
    50%{
        background-position:50% center;
    }
    100%{
        background-position:100% center;
    }
}
@keyframes yyy{
    from{
        color:lime;
    }
    to{
        color:yellow;
    }
}